{{link-to "close" "meetups"}}


{{#liquid-with model as currentModel use="toUp"}}

  <div id="{{currentModel.id}}" {{ action "favorite" }}>
    <img alt="{{currentModel.name}}" src="{{currentModel.imageURL}}" data-speaker-id={{currentModel.id}} >
    <br/>
    <a href="{{currentModel.url}}">{{currentModel.url}}</a>
  </div>


  <div>
    <h3>{{currentModel.name}}</h3>
    <p>Fundado: {{currentModel.date}}</p>
    <h4><span>Miembros:</span> {{currentModel.members}}</h4>

    {{#liquid-if currentModel.fav class="favorite"}}
      <h4>IS A FAVORITE!</h4>
    {{else}}
      <h4>NOT A FAVORITE :(</h4>
    {{/liquid-if}}
  </div>

{{/liquid-with}}
