{{link-to "close" "meetups"}}


{{#liquid-with model as currentModel use="toUp"}}

  <div id="{{currentModel.id}}">
    <img alt="{{currentModel.name}}" src="{{currentModel.imageURL}}" data-speaker-id={{currentModel.id}} >
    <br/>
    <a href="{{currentModel.url}}">{{currentModel.url}}</a>
  </div>

  <div>
    {{#if editing}}
      {{input value=editorName}}
      {{textarea rows=3 value=editorBio}}
      <button {{action "save"}}>Save</button>
      <button {{action "cancel"}}>Cancel</button>
    {{else}}
      <div {{ action "edit" }}>
        <h3>{{currentModel.name}}</h3>
        <p>Fundado: {{currentModel.date}}</p>
      </div>
    {{/if}}
    <h4><span>Miembros:</span> {{currentModel.members}}</h4>
  </div>

{{/liquid-with}}
